<header class="app-header position-relative">
    <h1 class="varela">דודו ירקות</h1>
    <img class="img-n n-5" src="../../../assets/images/Tomato-header.png" alt="tomato" />
    <img class="img-n n-4" src="../../../assets/images/carrot.png" alt="carrot" />
    <img class="img-n n-3" src="../../../assets/images/cucamber.png" alt="cucamber" />
    <img class="img-n n-2" src="../../../assets/images/pumpkin-removebg-preview.png" alt="pumpkin" />
    <img class="img-n n-1" src="../../../assets/images/kolo.png" alt="kolo" />
</header>
