@use './assets/styles/_pallet.scss';
@use './assets/styles/_reset.scss';
@use './assets/styles/_typography.scss';
@use './assets/styles/_setup.scss';
@import "../node_modules/bootstrap/scss/bootstrap";