<button (click)="handleClick()" *ngIf="buttonStyleClass.includes('small')" [disabled]="!isActive" [ngClass]="[buttonStyleClass, isActive ? 'active' : 'disabled']" class="">{{text}}</button>
<div *ngIf="buttonStyleClass === 'down'" class="d-flex justify-content-center align-items-center">
    <button (click)="handleClick()" [disabled]="!isActive"  [ngClass]="[buttonStyleClass, isActive ? 'active' : 'disabled']">{{text}}</button>
</div>
<button (click)="handleClick()" *ngIf="buttonStyleClass === 'add-to-cart'" [disabled]="!isActive" [ngClass]="[buttonStyleClass, isActive ? 'active' : 'disabled']" class="">הוסף לעגלה</button>
