@import "../../../../assets/styles/_pallet.scss";
@import "../../../../assets/styles/_mixin.scss";
:host {
    .small, .down, .add-to-cart, .small.cancel {
        height: 29px;
        color: white;
        background: $green;
        border-radius: 3px;
        padding: 5px;
        cursor: pointer;
        @include varela();

        &:hover {
            @include apply-box-shadow($green);
        }

        &.disabled {
            background: grey;
        }
    }

    .small.cancel {
        background-color: rgb(255, 122, 122);
    }

    .add-to-cart {
        position: absolute;
        bottom: 0;
        border: 0;
        border-end-end-radius: 0;
        border-end-start-radius: 0;
        width: 100px;
        left: 0;
        transform: translate(63%, 0);
    }

    .down {
        margin-block-start: 20px;
        display: block;
        text-align: center;
        width: 80px;
        border: 0;
        width: 93px;
        height: 37px;
        font-weight: 600;
    }
}